<div class="jumbotron">
  <h1 class="display-4">School Home Page</h1>
  <p class="lead">select the page you want to visit</p>
  <hr class="my-4">
  <p>
    For merging students and teachers
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/web/students" role="button">Students</a>
    <a class="btn btn-primary btn-lg" href="https://9y9k5.sse.codesandbox.io/web/teachers" role="button">Teachers</a>
  </p>

</div>